<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Secrets_Application_2019.Properties.Settings.secretsDBConnectionString"
            connectionString="Data Source=DESKTOP-V9GIPS8;Initial Catalog=secretsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/secretsWebService/Service1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="secretsWebServiceReference.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>